/** @format */

.watchlater {
  display: flex;
  height: 100vh;
}
.watch-later-video {
  flex: 0.9;
  background-color: #121212;
  padding: 40px 20px;
  padding-bottom: 0;
  display: flex;
  width: 90%;
}
.playlist-videocard-container {
  width: 80%;
}
